@use '@/styles/variables.scss' as *;

.teacherModal {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 688px;
  width: 860px;
  max-width: 100%;
  font-size: 20px;

  .teacherBlock {
    display: flex;
    justify-content: flex-start;
    gap: 40px;

    .teacherImg {
      width: 160px;
      height: auto;
    }

    .teacherInfo {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .teacherName {
        font-size: 24px;
        font-weight: 600;
      }

      .teacherPost {
        font-size: 18px;
        color: $text-color-tertiary;
      }
    }
  }

  .teacherTabs {
    margin-top: 20px;

    .tabsContent {
      max-height: 370px;
      overflow-y: auto;
      padding: 20px 0;

      &::after {
        position: absolute;
        content: '';
        width: 98%;
        height: 32px;
        bottom: 0;
        left: 0;
        background-image: $bg-color-tabs-blur;
      }
    }
  }
}

@media (max-width: 768px) {
  .teacherModal {
    box-shadow: $shadow-light;
    padding: 10px;
    height: auto;
    border-radius: 5px;

    .teacherBlock {
      gap: 10px;

      .teacherImg {
        width: 60px;
        height: 88px;
      }

      .teacherInfo {
        gap: 5px;

        .teacherName {
          font-size: 16px;
        }

        .teacherPost {
          font-size: 12px;
        }
      }
    }

    .teacherTabs {
      .tabsContent {
        height: auto;
        max-height: unset;
        padding-bottom: 0;

        &::after {
          content: none;
        }
      }
    }
  }
}
